<div class="admin-dashboard-list">
  <div routerLink="/shop" class="admin-dashboard-item">
    <p class="item-left-prop">Recorded Shops</p>
    <p class="item-right-prop">Total</p>
    <hr class="mt-5" />
    <p class="record-detail text-center">
      {{dashboardData?.ShopCount}}
    </p>
  </div>
  <div routerLink="/book" class="admin-dashboard-item">
    <p class="item-left-prop">Recorded Books</p>
    <p class="item-right-prop">Total</p>
    <hr class="mt-5" />
    <p class="record-detail text-center">
      {{dashboardData?.BookCount}}
    </p>
  </div>
  <div routerLink="/category" class="admin-dashboard-list">
    <div class="admin-dashboard-item">
      <p class="item-left-prop">Recorded Categories</p>
      <p class="item-right-prop">Total</p>
      <hr class="mt-5" />
      <p class="record-detail text-center">
        {{dashboardData?.CategoryCount}}
      </p>
    </div>
  </div>
  <div routerLink="/author" class="admin-dashboard-list">
    <div class="admin-dashboard-item">
      <p class="item-left-prop">Recorded Authors</p>
      <p class="item-right-prop">Total</p>
      <hr class="mt-5" />
      <p class="record-detail text-center">
        {{dashboardData?.AuthorCount}}
      </p>
    </div>
  </div>
  <div routerLink="/publisher" class="admin-dashboard-list">
    <div class="admin-dashboard-item">
      <p class="item-left-prop">Recorded Publishers</p>
      <p class="item-right-prop">Total</p>
      <hr class="mt-5" />
      <p class="record-detail text-center">
        {{dashboardData?.PublisherCount}}
      </p>
    </div>
  </div>
</div>
<hr />
<h2 class="text-center text-muted">Recorded Lists</h2>
<div class="dasboard-recorded-list">
  <table routerLink="/book" class="table table-dark table-props">
    <caption class="text-center caption-props">
      Recently Added Books
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark table-props">
    <caption class="text-center">
      Recently Added Shops
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark table-props">
    <caption class="text-center">
      Recently Added Categories
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark table-props">
    <caption class="text-center">
      Recently Added Authors
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark table-props">
    <caption class="text-center">
      Recently Added Publishers
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-dark table-props">
    <caption class="text-center">
      Recently Added Authors
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>