<div class="container-fluid">
  <div class="row">
    <div class="col-6 header-title">
      Categories
    </div>
    <div class="col-2 offset-4 mt-4">
      <button id="categoryBtn" class="header-button-prop" data-toggle="modal" data-target="#categoryModal"><i
          class="fas fa-list-ul"></i>&nbsp;&nbsp;New Category</button>
    </div>
  </div>
  <hr />
  <h2 class="text-center header-title">Category List</h2>
</div>

<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postCategory">Add New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm" (ngSubmit)="submitCategory()">
          <div class="form-group">
            <label for="categoryName">Category</label>
            <input type="text" id="categoryName" class="form-control" formControlName="category"
              [(ngModel)]="category.CategoryName"
              [ngClass]="{ 'is-invalid' : formSubmitted && form.category.invalid }" />
            <div *ngIf="form.category.invalid" class="invalid-feedback">
              <div *ngIf="form.category.errors.required">
                Category name is required
              </div>
            </div>
          </div>
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="categoryTpye" [(ngModel)]="category.IsMainCategory" />
            <label class="form-check-label" for="categoryTpye">SubCategory</label>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary mt-3" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-success mt-3">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>