.navBackground {
    background-color: #08191f!important;
}

.routerBackground{
    background-color: #ffffff;
    color: white;
}

.navbarMenu {
    width: 100%;
    text-align: center;

}
    .navbarMenu > li {
        float: none;
        display: inline-block;
    }

.nav-item {
    padding: 15px;
    padding-right: 30px;
}

.nav-item a {
    color: #ffffff;
}

#routerProp{
    padding-top: 5em;
    background-color: #282C34;
    color: white;
}

#HomeProp::after{
    content: "🏠"
}

#AuthorProp::after{
    content: "👨‍🏭";
}

#BookProp::after{
    content: "📚";
}

#ShopProp::after{
    content: "🏘️";
}