<nav class="navbar navbar-expand-sm navBackground navBackground">
  <ul class="navbarMenu">
    <li class="nav-item">
      <a routerLink="" id="HomeProp" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/author" id="AuthorProp" class="nav-link">Author</a>
    </li>
    <li class="nav-item">
      <a routerLink="/book" id="BookProp" class="nav-link">Book</a>
    </li>
    <li class="nav-item">
      <a routerLink="/publisher" class="nav-link">Publisher</a>
    </li>
    <li class="nav-item">
      <a routerLink="/shop" id="ShopProp" class="nav-link">Shops</a>
    </li>
    <li class="nav-item">
      <a routerLink="/category" class="nav-link">Categories</a>
    </li>
    <li class="nav-item">
      <a routerLink="/supplier" class="nav-link">Suppliers</a>
    </li>
  </ul>
</nav>
<div id="routerProp">
  <router-outlet></router-outlet>
</div>
