<nav class="navbar navbar-expand-sm navBackground navBackground">
    <ul class="navbarMenu">
      <li class="nav-item">
        <a routerLink = "" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink = "/author" class="nav-link">Author</a>
      </li>
      <li class="nav-item">
        <a routerLink = "/book" class="nav-link">Book</a>
      </li>
      <li class="nav-item">
          <a routerLink = "/publisher" class="nav-link">Publisher</a>
        </li>
    </ul>
  </nav>
  <div>
      <router-outlet></router-outlet>
  </div>
