<div class="container-fluid shop-comp-prop">
  <div class="row">
    <div class="col-12 parent-title-prop">
      <h2 *ngIf="!isEdit" id="shopLogo">Add New Shop</h2>
      <h2 *ngIf="isEdit" id="shopLogo">Edit Shop</h2>
    </div>
  </div>
  <div class="flex-list mt-4">
    <form id="shopForm" name="form" method="POST" (ngSubmit)="f.form.valid && postShop()" #f="ngForm" novalidate>
      <div class="row">
        <div id="shopBox" class="flex-item">
          <div class="form-group">
            <label class="box-title-prop" for="shopName">Shop Name</label>
            <input type="text" class="form-control" id="shopName" name="shopName" [(ngModel)]="shop.SHOP_NAME"
              #shopName="ngModel" placeholder="Name" required>
          </div>
          <div *ngIf="shopName.invalid && (f.submitted || shopName.touched)" class="alert alert-danger">
            <div *ngIf="shopName.errors.required">
              Shop Name is required.
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="form-group">
            <label class="box-title-prop" id="locationLabelProp" for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" [(ngModel)]="shop.LOCATION"
              #location="ngModel" placeholder="Location" required>
          </div>
          <div *ngIf="location.invalid && (f.dirty || location.touched)" class="alert alert-danger">
            <div *ngIf="location.errors.required">
              Location is required.
            </div>
          </div>
        </div>
        <div class="flex-item">
          <div class="form-group">
            <label class="box-title-prop" id="staffProp" for="Staff">Num. Of Staff</label>
            <input type="number" min="1" class="form-control" id="Staff" name="Staff" [(ngModel)]="shop.STAFF_COUNT"
              #Staff="ngModel" placeholder="Num Of Staff" required>
          </div>
          <div *ngIf="Staff.invalid && (f.dirty || Staff.touched)" class="alert alert-danger">
            <div *ngIf="Staff.errors.required">
              Num. Of Staff is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button id="saveButtonProp" *ngIf="!isEdit" type="submit" class="btn btn-primary float-right"
            [disabled]="f.form.pristine || f.form.invalid">Save</button>
          <button id="saveButtonProp" *ngIf="isEdit" type="button" class="btn btn-primary float-right"
            [disabled]="f.form.pristine || f.form.invalid" (click)="updateShop()">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-12 parent-title-prop">
      <h2 id="shopLogo">Shop List</h2>
    </div>
  </div>
  <table>
    <thead class="thead-inverse">
      <tr>
        <th class="text-center">Shop Name</th>
        <th class="text-center">Location</th>
        <th class="text-center">Staff Count</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shop of shopList">
        <td>{{shop.SHOP_NAME}}</td>
        <td>{{shop.LOCATION}}</td>
        <td>{{shop.STAFF_COUNT}}</td>
        <td class="text-center" style="width: 15px;">
          <button class="btn btn-success" (click)="editShop(shop)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-danger" (click)="deleteShop(shop.SHOP_ID)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tr></tr>
  </table>
</div>
