<div class="col-12 text-center">
  <h2>Welcome! Select What you Want To Do!👇 </h2>
  <div class="home-flex">
    <a routerLink="/author" id="AuthorProp" class="nav-link flex-item">Author <br/><i class="fas fa-user-secret fa-3x"></i></a>
    <a routerLink="/book" id="BookProp" class="nav-link flex-item">Book <br/><i class="fas fa-book fa-3x"></i></a>
    <a routerLink="/publisher" class="nav-link flex-item">Publisher <br/> <i class="fas fa-bullhorn fa-3x"></i></a>
    <a routerLink="/shop" id="ShopProp" class="nav-link flex-item">Shops <br/> <i class="fas fa-store fa-3x"></i></a>
    <a routerLink="/category" class="nav-link flex-item">Categories <br/> <i class="fas fa-th-list fa-3x"></i></a>
    <a routerLink="/supplier" class="nav-link flex-item">Suppliers <br/> <i class="fas fa-people-carry fa-3x"></i></a>
  </div>
</div>

