<div class="container mt-5">
  <div class="row">
    <div class="col-12">
        <h2>Author</h2>
    </div>
  </div>
  <hr/>
  <div class="row">
      <div class="col-12">
          <h5>Create Author</h5>
      </div>
  </div>
  <div class="mt-4">
    <form name="form" method="POST" (ngSubmit)="f.form.valid && postAuthor()" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="authorName">Author Name</label>
                  <input type="text" class="form-control" id="authorName" name="authorName" [(ngModel)]="author.AUTHOR_NAME" #authorName="ngModel"  placeholder="Name" required>
              </div>
                <div *ngIf="authorName.invalid && (f.submitted || authorName.touched)" class="alert alert-danger">
                  <div *ngIf="authorName.errors.required">
                    Name is required.
                  </div>
                </div>
          </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="birthDate">Birthdate</label>
                  <input class="form-control" type="date" value="" [(ngModel)]="author.BIRTH_DATE" #birthDate="ngModel" name="birthDate" id="birthDate" required>
                </div>
                <div *ngIf="birthDate.invalid && (f.submitted || birthDate.touched)" class="alert alert-danger">
                    <div *ngIf="birthDate.errors.required">
                      Birthdate is required.
                    </div>
                </div>
              </div>
        </div>
          <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="biography">Biography</label>
                  <textarea class="form-control" id="biography" [(ngModel)]="author.BIOGRAPHY" #biography="ngModel" name="biography" rows="6" required></textarea>
                </div>
                <div *ngIf="biography.invalid && (f.submitted || biography.touched)" class="col-6 alert alert-danger">
                    <div *ngIf="biography.errors.required">
                      Biography is required.
                    </div>
                </div>
              </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <button type="submit" class="btn btn-primary float-right">Save</button>
              <!-- <button type="button" (click)="getAuthor()">Fetch</button> -->
            </div>
          </div>
        </form>
  </div>
  <div class="row mb-4 mt-4">
      <div class="col-12">
          <h5>Author List</h5>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th class="text-center">Author Name</th>
            <th class="text-center">Birth Date</th>
            <th class="text-center">Biography</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let author of allAuthor">
            <td class="text-center" style="width: 15px;">{{author.AUTHOR_NAME}}</td>
            <td class="text-center" style="width: 15px;">{{author.BIRTH_DATE}}</td>
            <td class="text-center" style="width: 200px;">{{author.BIOGRAPHY}}</td>
        </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>

<!-- <ul>
  <li *ngFor="let author of author$ | async">{{ author.AUTHOR_NAME }}</li>
</ul> -->
