<div class="admin-props">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 p-0">
        <div class="admin-navbar-prop">
          <div class="admin-navbar-detail">
            <img class="admin-navbar-image" src="../../assets/img//admin-simpson.png" alt="admin-profile" />
            <p class="mt-3">Homer Simpson</p>
          </div>
          <div class="admin-navbar-list pt-4">
            <a routerLink="/shop" class="admin-navbar-list-item"><i class="fas fa-store fa-2x mr-2"></i>Shops</a><br />
            <a routerLink="/author" class="admin-navbar-list-item"><i class="fas fa-users fa-2x pr-2 "></i>Authors</a>
            <a routerLink="/category" class="admin-navbar-list-item" id="itemCategory"><i
                class="fas fa-list-ul fa-2x pr-3 pt-3"></i>Categories</a><br />
            <a routerLink="/publisher" class="admin-navbar-list-item" id="itemPublisher"><i
                class="fas fa-list-ul fa-2x pr-3"></i>Publishers</a><br />
            <a routerLink="/book" class="admin-navbar-list-item"><i class="fas fa-book fa-2x pr-4"></i>Books</a><br />
          </div>
        </div>
      </div>
      <div class="col-10 p-0">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>