<div class="admin-props">
  <div class="row">
    <div class="col-2 p-0">
      <div class="admin-navbar-prop">
        <div class="admin-navbar-detail">
          <img
            class="admin-navbar-image"
            src="../../assets/img//admin-sabri.png"
            alt="admin-profile"
          />
          <p class="mt-3">Senior Sabri</p>
        </div>
        <div class="admin-navbar-list pt-4">
          <a routerLink="/shop" class="admin-navbar-list-item"
            ><i class="fas fa-store fa-2x mr-2"></i>Shops</a
          ><br />
          <a routerLink="/book" class="admin-navbar-list-item"
            ><i class="fas fa-book fa-2x pr-2"></i>Books</a
          ><br />
          <a
            routerLink="/category"
            class="admin-navbar-list-item"
            id="itemCategory"
            ><i class="fas fa-list-ul fa-2x pr-2"></i>Categories</a
          ><br />
          <a routerLink="/author" class="admin-navbar-list-item"
            ><i class="fas fa-users fa-2x pr-2 "></i>Authors</a
          ><br />
          <a
            routerLink="/publisher"
            class="admin-navbar-list-item"
            id="itemPublisher"
            ><i class="fas fa-list-ul fa-2x pr-2 "></i>Publishers</a
          ><br />
          <a
            routerLink="/supplier"
            class="admin-navbar-list-item"
            id="itemSupplier"
            ><i class="fas fa-people-carry fa-2x pr-2 "></i>Suppliers</a
          ><br />
        </div>
      </div>
    </div>
    <div class="col-10 p-0">
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a routerLink="/dashboard" class="navbar-brand"
          ><img class="navbar-brand-prop" src="../../assets/img/book-logo.gif"
        /></a>
        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
          <a href="#" class="ml-4"
            >Log out<i class="fas fa-sign-out-alt ml-2 mr-5"></i
          ></a>
        </form>
      </nav>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
