<section id="form">
  <form class="col s12">
    <div class="row center-align">
      <p class="white-text text-center">Sign in</p>
    </div>
    <div class="row">
      <div class="input-field">
        <label for="email">Email / Username</label>
        <input type="text" class="validate" style="width: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <label for="password">Password</label>
        <input id="password" type="password" class="validate" style="width: 300px;">
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light">
        Login
      </button>
    </div>
    <p class="forgot text-center mt-4">Forgot Password?</p>
    <ul class="animate">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </form>
  <form class="col s12">
    <div class="row center-align">
      <h4 class="white-text">register</h4>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Re-Password</label>
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light">
        Register
      </button>
    </div>
    <ul class="animate">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </form>
</section>
