<div class="container-fluid">
  <div class="row">
    <div class="col-6 header-title">
      Shops
    </div>
    <div class="col-2 offset-4 mt-4">
      <button class="header-button-prop" data-toggle="modal" data-target="#shopModal"><i
          class="fas fa-store"></i>&nbsp;&nbsp;New Shop</button>
    </div>
  </div>
  <hr />
  <h2 class="text-center header-title">Shop List</h2>
</div>
<!-- Modal -->
<div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="shopModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postShop"><i class="fas fa-store pr-2"></i>New Shop Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="shopForm" (ngSubmit)="submitShop()">
          <div class="form-group">
            <label for="shopName">Shop</label>
            <input type="text" id="shopName" class="form-control" formControlName="shop" [(ngModel)]="shop.ShopName"
              [ngClass]="{ 'is-invalid' : formSubmitted && form.shop.invalid }" />
            <div *ngIf="form.shop.invalid" class="invalid-feedback">
              <div *ngIf="form.shop.errors.required">
                Shop name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" class="form-control" formControlName="location" [(ngModel)]="shop.Location"
              [ngClass]="{ 'is-invalid' : formSubmitted && form.location.invalid }" />
            <div *ngIf="form.location.invalid" class="invalid-feedback">
              <div *ngIf="form.location.errors.required">
                Shop location is required
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary mt-3" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-success mt-3">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>