<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Publisher</h2>
        </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-12">
              <h5>Create Publisher</h5>
          </div>
      </div>
      <div class="mt-4">
          <form name="form" method="POST" (ngSubmit)="f.form.valid && postPublisher()" #f="ngForm" novalidate>
              <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="publisherName">Publisher Name</label>
                        <input type="text" class="form-control" id="publisherName" name="publisherName" [(ngModel)]="publisher.NAME" #publisherName="ngModel" placeholder="Name" required>
                    </div>
                    <div *ngIf="publisherName.invalid && (f.submitted || publisherName.touched)" class="alert alert-danger">
                        <div *ngIf="publisherName.errors.required">
                          Publisher Name is required.
                        </div>
                      </div>
                </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" name="location" [(ngModel)]="publisher.LOCATION" #location="ngModel" placeholder="Location" required>
                      </div>
                      <div *ngIf="location.invalid && (f.submitted || location.touched)" class="alert alert-danger">
                          <div *ngIf="location.errors.required">
                            Location is required.
                          </div>
                        </div>
                    </div>
              </div>
                <div class="row mt-4">
                  <div class="col">
                    <button type="submit" class="btn btn-primary float-right">Save</button>
                  </div>
                </div>
          </form>
        </div>
</div>