<section id="form">
  <form class="col s12">
    <div class="row center-align">
      <h4 class="white-text">register</h4>
    </div>
    <div class="row">
      <div class="input-field">
        <label for="email">Email</label>
        <input id="email" type="email" class="validate pr-4">
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <label for="password">Password</label>

        <input id="password" type="password" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <label for="password">Re-Password</label>
        <input id="password" type="password" class="validate">
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light">
        Register
      </button>
    </div>
    <ul class="animate">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </form>
  <form class="col s12">
    <div class="row center-align">
      <h4 class="white-text">register</h4>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="password" type="password" class="validate">
        <label for="password">Re-Password</label>
      </div>
    </div>
    <div class="row center-align">
      <button class="btn waves-effect waves-light">
        Register
      </button>
    </div>
    <ul class="animate">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </form>
</section>
