<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 author-header">
      <h2 class="text-muted pt-2">Authors</h2>
      <span class="btn btn-primary header-button-prop">Hello</span>
      <hr />
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="carousel-flex-list">
        <div class="author-flex-item">
          <img
            class="carousel-avatar-prop"
            src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE5NTU2MzE2Mzg4MzYxNzM5/jrr-tolkien-9508428-1-402.jpg"
          /><br/>
          <i class="author-detail-prop">
            J.R.R. Tolkien is an internationally renowned fantasy writer. He is
            best known for authoring 'The Hobbit' and 'The Lord of the Rings'
            trilogy.
          </i>
        </div>
      </div>
    </div>
  </div>
</div> --> -->
